* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: "Roboto Slab", serif;
}
.reg-container {
	display: flex;
	flex-direction: column;
	width: 30%;
	position: absolute;

	left: 50%;
	transform: translate(-50%, 0);
}
.left-bar {
	position: relative;
}
input {
	all: unset;
	width: 250px;
	height: 40px;
	border-bottom: 1px solid grey;
	padding: 0 5px;

	font-size: 14px;
	font-weight: bold;
	color: #333;
	font-family: "Roboto Slab", serif;
	position: relative;
	margin-left: 20px;
}

input:focus {
	outline: 1px solid royalblue;
	border: none;
}

input[type="text"]::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-size: 18px;
	color: dimgrey;
	font-family: "Roboto Slab", serif;
}

input[type="text"]::-moz-placeholder {
	/* Firefox 19+ */
	font-size: 18px;
	color: dimgrey;
	font-family: "Roboto Slab", serif;
}

input[type="text"]:-moz-placeholder {
	/* Firefox 18- */
	font-size: 18px;
	color: dimgrey;
	font-family: "Roboto Slab", serif;
}

input[type="text"]:-ms-input-placeholder {
	/* IE 10+ */
	font-size: 18px;
	color: dimgrey;
	font-family: "Roboto Slab", serif;
}

input[type="text"]::placeholder {
	font-size: 18px;

	color: dimgrey;
	font-family: "Roboto Slab", serif;
}

.input__box::before {
	content: "☎";
	position: absolute;
	left: calc(50% - 327px);
	top: calc(50% - 30px);
	color: #333;
	font-weight: bold;
	font-size: 40px;
	padding: 0 10px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}
